/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Features
    6. Footer

*/

/* 1. ---General Styles--- */


.hidden {
    display: none;
}

.container {
    width: 1200px;
    height: 2800px;
    margin: 0 auto;
    background-color: #ede3e3;
}

.box-color {
    background-color: rgb(223, 222, 221);
    color: white;
    text-align: center;
}


/* 2. ---Grid--- */

.grid {
    display: grid;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: repeat(12,72px);
    grid-column-gap: 30px;
}

/* 3. ---Header--- */
 



#main-logo {
    background-color: #bf3534;
    text-align: center;
    height: 150px;
    width: 200px;
    grid-column: 11/1;
    grid-row: 3/2;
    margin-top: -170px;

}

#header {
    background-color: #bf3534;
    width: 1200px;
    height: 170px;
    margin: left 15px / 1px;
    padding: left -15px; 
}


#header-nav  {
    height: 70px;
    width: 360px;
    grid-column: 9/-1; 
    background-color:  #bf3534;
    color: #ffffff;
    grid-row: 13/-13 auto;
    margin-top: 60px;
    font-size:larger;
}




/* 4. ---Main Hero Image--- */
#hero-image {
    grid-column: 1/-1;
    width: 1200px;
    height: 300px;
    grid-row: 1/-1;
    margin-top: 0px;
    background-image: url('../images/bottles.svg');
    background-repeat: no-repeat ;
    background-position: center;  
}

/* 5. ---Features--- */

#tag-line {
    grid-column: 1/1;
    height: 600px;
    width: 1200px;
    grid-row: 2/8;
    font-size:xx-large;
    color: #ffffff;
}

/* red-bubble background*/
.box-color2  {
    color: #ffffff;
    text-align: center;
    background-image: url('../images/redbackground.svg');
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
}

.berry-bottle {
    grid-column: 2/7 ;
    grid-row: 8/3;
    color: #ffffff;
    font-size: 27px;
    text-align: left;
   }


#single-product {
background-image: url('../images/yellowcircle.avif');
background-size: cover;
background-repeat: no-repeat;
width: 1200px;
height: 690px;
grid-column: -13/12;
color: #ffffff;
font-size: xx-large;
text-align:center;
}



.feature {
    width: 370px;
    height: 300px;
    grid-column: span 4;    
}

#variety-con {
    background-image: url('../images/greenbackground.svg');
    grid-column: 1/2 ;
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 500px;
}


/* 6. ---Footer--- */

