.hidden {
    display: none;
}

.container {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    background-color: #a0a0a0;
}

/* 2. ---Grid--- */

.grid {
    display: grid;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: repeat(12,72px);
    grid-column-gap: 30px;
}


/*header*/
#main-logo {
    background-color: #bf3534;
    text-align: center;
    height: 150px;
    width: 200px;
    grid-column: 11/1;
    grid-row: 3/2;
    margin-top: -170px;

}

#header {
    background-color: #bf3534;
    width: 1200px;
    height: 170px;
    margin: left 15px / 1px;
    padding: left -15px; 
}


#header-nav  {
    height: 70px;
    width: 360px;
    grid-column: 9/-1; 
    background-color:  #bf3534;
    color: #ffffff;
    grid-row: 13/-13 auto;
    margin-top: 60px;
    font-size:larger;
}

#contact-hero {
    background-image: url('../images/redbackground.svg');
    height: 900px;
    background-repeat: no-repeat ;
    background-position: center;  
    background-size: cover;
    grid-column: 4/10;
    grid-row: auto;
}

/*Contact Title*/
#contact-text {
    color: white;
    text-align: center;
    font-size: x-large;
    grid-column: 5/10 ;
    grid-row: 1;
}


.input-text{
    color: white;
    font-size: x-large;
}


#contact-box {
   
    height: 500px;
    width: 500px;
    grid-column: 4/9;
    grid-row: 2;

}





/*footer box*/
#footer-text {
    margin-bottom: 8px;
    margin-top: 250px;
    grid-column: 5/10;
    text-align: center;
    grid-row: 1;
    background-color: #abaaaa;
    height:400px;
}
