.hidden {
    display: none;
}

.container {
    width: 1200px;
    height: 1500px;
    margin: 0 auto;
    background-color: #a0a0a0;
}

/* 2. ---Grid--- */

.grid {
    display: grid;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: repeat(12,72px);
    grid-column-gap: 30px;
}


/*header*/
#main-logo {
    background-color: #bf3534;
    text-align: center;
    height: 150px;
    width: 200px;
    grid-column: 11/1;
    grid-row: 3/2;
    margin-top: -170px;

}

#header {
    background-color: #bf3534;
    width: 1200px;
    height: 170px;
    margin: left 15px / 1px;
    padding: left -15px; 
}


#header-nav  {
    height: 70px;
    width: 360px;
    grid-column: 9/-1; 
    background-color:  #bf3534;
    color: #ffffff;
    grid-row: 13/-13 auto;
    margin-top: 60px;
    font-size:larger;
}

#default-hero {
    background-image: url('../images/redbackground.svg');
    height: 800px;
    background-repeat: no-repeat ;
    background-position: center;  
    background-size: cover;
    grid-column: 4/10;
    grid-row: auto;
}

#delfault-text {
    font-size: xx-large;
    text-align: center;
    color: #ffffff;
    grid-column: 3/11;
    grid-row: 1;
}

#fruit-explosion {
    grid-column: 3/10;
    grid-row: 1/2;
}

#footer {
    background-color: rgb(223, 222, 221);
    height: 550px;
    font-size: xx-large;
    text-align: center;
    color: #000000;
}

#footer-text {
    margin-bottom: 8px;
    margin-top: 8px;
    grid-column: 4/10;
    text-align: center;
    grid-row: 1;
    background-color: #a0a0a0;
    height:500px;
}

#email-box {
    background-color: #aaaaaa;
    color: #000000;
    grid-column: 9/4;
    grid-row: 4;
    font-size: medium;
}

#socials {
    grid-column: 6/9;
    grid-row: 1;
}
