.hidden {
    display: none;
}


#container {
    width: 428px;
    margin: 20px auto;

    border-radius: 10px;
    background-color: #bababa;
    height: 1300px;
  }

/* 2. ---Grid--- */


.grid {
  display: grid;
  padding-left: 0px;
  padding-right: 0px;
  grid-template-columns: repeat(12,72px);
  grid-column-gap: 30px;
}

/*header*/

#header{
  background-color: #bf3534;
  width: 428px;
  height: 170px;

}

